<ion-menu contentId="main-content" type="overlay" #menu class="sherlock-side-menu">
  <ion-content [scrollY]="false" class="sherlock-side-menu__content">
    <app-sidebar-menu [userName]="userName" (menuClose)="closeMenu()"></app-sidebar-menu>
  </ion-content>
</ion-menu>

<div id="main-content" class="main-content" [class.admin-mode]="shouldUseLightTheme()">

  @if (shouldShowAdminHeader()) {
    <div class="admin-layout">
      <app-admin-sidebar [userName]="userName"></app-admin-sidebar>
      <div class="admin-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  } @else {
    @if (!shouldHideLayoutChrome()) {
      <app-header
        title="SHERLOCK"
        [userName]="userName"
        profileImage="https://i.pravatar.cc/150?img=12"
        (menuClick)="toggleMenu()">
      </app-header>
    }
    <div class="layout-body">
      <router-outlet></router-outlet>
    </div>
    @if (!shouldHideLayoutChrome()) {
      <app-footer></app-footer>
    }
  }

</div>
