<ion-footer>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button routerLink="/home" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/games" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="game-controller-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/ranking" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="trophy-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/profile" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>